;; shadow-cljs configuration
{:deps {:aliases [:cljs]}

 :builds
       {:node
        {:target           :node-script
         :main             dumeng.core/main
         :output-to        "out/xmi_parser/main.js"
         :compiler-options {
                            :infer-externs :auto
                            }
         }}}


